* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 14px;
}
body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: rgb(235, 209, 231);
  background-image: url('images/pexels-pixabay-267961.jpg');
  background-size: cover;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 100vh;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.logo img {
  height: 40rem;
  border: 1px solid whitesmoke;
}

.fotogram-login {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 40%;
}

.group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 1.3rem 0;
  border: 1px solid whitesmoke;
  color: whitesmoke;
}

.login {
  color: black;
  background-color: rgba(15, 102, 189,0.3);
  padding: 7px;
  margin: 3px;
  font-weight: bold;
  border-radius: 4px;
}

.logout {
  color: black;
}

.group:nth-child(1) {
  min-height: 19rem;
  background-color: rgba(15, 102, 189,0.3);
}
.group:nth-child(2) {
  
  background-color: rgba(205, 26, 221, 0.3);
}

.fotogram-logo {
  height: 3rem;
}

.profile-photo {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.profile-photo img {
  height: 10rem;
  border: 1px solid whitesmoke;
}

.not-account {
  color: rgb(15, 0, 0);
  
  padding: 7px;
  margin: 3px;
  font-weight: bold;
}

.link-white {
  color: whitesmoke;
}

.get-the-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1.3rem 0;
  background-color: rgba(173, 224, 224,0.3);
}

.download {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
}

.app-download {
  height: 3rem;
  width: 10rem;
  background-size: cover;
}

.app-download:nth-child(1) {
  background-image: url('images/googleplay-button.png');
}

.app-download:nth-child(2) {
  background-image: url('images/apple-button.png');
}

.get-app {
  font-weight: bold;
}


@media(max-width:1024px) {
    .wrapper {
      width: 90%;
    }
}

@media(max-width:850px) {
  .logo {
    display: none;
  }
  .fotogram-login {
    width: 70%;
  }
  .wrapper {
    justify-content: center;
  }

  .group {
    border: none;
  }
}

@media(max-width:470px) {
  body {
    background-color: aliceblue;
  }
  .logo {
    display: none;
  }
  .fotogram-login {
    width: 100%;
  }
  .wrapper {
    justify-content: center;
  }
  
}





